@model IEnumerable<Modelos.Models.BitacoraEvento>

<h2>Bitácora de Eventos</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>IdEvento</th>
            <th>Tabla</th>
            <th>Tipo Evento</th>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>StackTrace</th>
            <th>Datos Anteriores</th>
            <th>Datos Posteriores</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdEvento</td>
                <td>@item.TablaDeEvento</td>
                <td>@item.TipoDeEvento</td>
                <td>@item.FechaDeEvento</td>
                <td>@item.DescripcionDeEvento</td>
                <td>@item.StackTrace</td>
                <td>@item.DatosAnteriores</td>
                <td>@item.DatosPosteriores</td>
            </tr>
        }
    </tbody>
</table>