@model IEnumerable<Modelos.Models.Sinpe>

<h2>Lista de SINPES</h2>

<a class="btn btn-primary" href="/Sinpe/Create">Nuevo SINPE</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Teléfono Origen</th>
            <th>Nombre Origen</th>
            <th>Teléfono Destino</th>
            <th>Nombre Destino</th>
            <th>Monto</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TelefonoOrigen</td>
                <td>@item.NombreOrigen</td>
                <td>@item.TelefonoDestinatario</td>
                <td>@item.NombreDestinatario</td>
                <td>@item.Monto</td>
                <td>@(item.Descripcion ?? "Sin descripción")</td>

                <td>@item.FechaDeRegistro</td>
                <td>
                    @(item.Estado ? "Sincronizado" : "No sincronizado")
                </td>
            </tr>
        }
    </tbody>
</table>